<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% if user_signed_in? %>
  <p>
    <%= current_user.email %>
  </p>
  <p>
    <%= link_to "Go to user dashboard", users_backoffice_index_path %>
  </p>
  <p>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </p>
<% end %>

<% if admin_signed_in? %>
  <p>
    <%= current_admin.email %>
  </p>
  <p>
    <%= link_to "Go to admin dashboard", admins_backoffice_index_path %>
  </p>
  <p>
    <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
  </p>
<% end %>

<% if (!current_user && !current_admin).present? %>
  <p>
    <%= link_to "Login as Admin", admins_backoffice_index_path %>
  </p>
  <p>
    <%= link_to "Login as User", users_backoffice_index_path %>
  </p>
<% end %>